.ava {
  width: 66px;
  height: 66px;
  position: relative;
  flex-shrink: 0;

  &__img {
    @include CoverImg();
    border-radius: 25px;
  }

  &_online {
    @include make-status-ring($success, 10px, 10px, -2px);
  }

  &_rectangle {
    width: 274px;
    height: 280px;

    .ava__img {
      border-radius: 10px;
    }
  }

  &_no-img {
    background-color:  #3faaff;
    color: $white;
    border-radius: 20px;
    @include flexCenterXY();
    font-size: 28px;

    a {
      color: $white;
    }
  }

  &_lg {
    width: 148px;
    height: 148px;
    border-radius: 66px;

    &.ava_border {
      border: 4px solid $white;
    }

    &.ava_online {
      &:before {
        top: 10px;
        right: 15px;
        border: 4px solid $white;
      }
    }

    .ava__img {
      border-radius: 60px;
    }
  }

  &_sm {
    width: 66px;
    height: 66px;

    .ava__img {
      border-radius: 20px;
    }
  }

  &_xs {
    width: 28px;
    height: 28px;

    .ava__img {
      border-radius: 10px;
    }
  }

  &__append {
    @include make-notice-icon($notice, 32px, 32px, 10px);
    @include flexCenterXY();

    svg {
      overflow: visible;
      width: 100%;
      height: 100%;
    }

    &_color_green {
      background-color: $success;
    }

    &_color_purpure {
      background-color: $warning;
    }

    &_color_yelow {
      background-color: $notice;
    }

    &_color_blue {
      background-color: $accent;
    }
    &_color_white{
      background-color: #fff;
    }
    &_color_none{
      display: none;
    }
    &_color_blue-icon {
      background-color: $accent;
      padding: 2px;
    }

  }

}
