.auth {
  @include fontFiraSans();
  position: relative;
  @include flexCenterX();
  color: $secondary-text;
  cursor: pointer;

  .ava {
    margin-right: 16px;
    width: 52px;
    height: 52px;
    &__img {
      border-radius: 20px;
    }
  }

  &__icon {
    position: relative;
    top: -3px;
  }

  &__name {
    font-size: 20px;
    color: $primary-text;
    margin-bottom: 7px;
  }

  &__status-marked {
    color: $accent;
    text-transform: uppercase;
    font-size: 18px;
  }

  &__wrapper {
    @include make-column();
    margin-right: 12px;
  }
}
