.mini-card {
  @include make-column();
  @include fontFiraSans();
  box-sizing: border-box;
  color: #768594;
  width: 117px;
  height: 158px;
  border-radius: 10px;
  padding: 0 0 18px 13px;
  font-weight: normal;
  z-index: 1;
  position: relative;
  margin-right: 17px;

  .ava {
    position: relative;
    cursor: pointer;
    z-index: 3;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;
    left: 0;
    bottom: 0;
    height: calc(148px - 26px);
    z-index: -1;
  }



  &__text {
    padding: 13px 0 18px 0;
    z-index: 3;
    //cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .btn-icon {
    z-index: 3;
    width: 34px;
    height: 34px;
  }
}
