.nav-panel {
  @include make-row();
  justify-content: space-between;
  padding: 39px 0 36px 0;

  &__row {
    @include make-row();
  }

  &__row:nth-child(1){
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__row:nth-child(2){
    display: none;
  }
}