.search-block {
  width: 100%;
  padding: 0 15%;
  box-sizing: border-box;
  position: relative;

  .search-icon {
    display: none;
  }

  .clear-btn .btn{
    width: 150px;
  }

  &__row {
    @include make-row();
    align-items: center;
    width: 100%;
  }

  &__group-select {
    width: 100%;
  }

  .input-group__prefix {
    top: 10px;
    left: -2px;
    z-index: 20;
  }

  &__content {
    height: 86px;
    width: 100%;
    //max-width: 819px;
    padding: 23px;
    box-sizing: border-box;
    box-shadow: 0 12px 50px 0 #e3e6ed;
    background-color: #ffffff;
  }

  .css-g1d714-ValueContainer {
    padding-left: 20px;
  }


}