.footer {
  background-color: $white;
  @include flexCenterX();
  height: $header-height;
  padding-left: 43px;
  justify-content: space-between;
  flex-shrink: 0;
  padding-right: 36px;
  margin-top:  auto;


  &__row{
    @include make-row();
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  &__row:nth-child(2){
    display: none;
  }

  &__item {
    @include make-column();
    color: $primary-text;
    align-items: flex-end;
  }

  &__policy {
    margin-bottom: 15px;
    padding-right: 6px;
  }

  &__rights {
    font-size: 12px;
  }
}