.modal {
  @include fontFiraSans();
  @include make-column();
  @include absoluteXY();
  align-items: center;
  padding: 33px;
  width: 465px;
  background: $white;
  box-sizing: border-box;
  color: $primary-text;
  text-align: center;
  //overflow: auto;

  &_type_loading {
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  &_img {
    padding: 40px;
    width: auto;
    //max-height: 50%;

    .modal__close {
      top: 9px;
      right: 9px;
    }
  }

  .ReactCrop, .ReactCrop__image {
    border-radius: 10px
  }

  &_content {
    max-width: 100%;
    width: calc( 100% - 372px * 2);
    .modal-overlay {
      background-color: none;
    }
  }

  &_type_auth {
    width: 399px;
    min-height: 322px;
  }

  &__tab {
    @include flexCenterX();
    padding: 40px 0;


    &-item {
      margin: 0 10px;
      color: $primary-text;

      &_active {
        color: #006abf;
        text-decoration: underline;
      }
    }
  }

  &__header {

  }

  &__notice {
    @include fontFiraSansLight();
    color: #bbc3ce;
    font-size: 15px;
    text-transform: none;
  }

  .link {
    cursor: pointer;
    margin: 30px 0;


  }

  .links {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    span {
      cursor: pointer;
      margin-bottom: 5px;
      color: #3faaff;
     &:hover {
       text-decoration: underline;
     }
    }
  }

  &__icon {
    margin-top: 30px;
  }

  .ava_rectangle {
    margin-bottom: 15px;
  }

  &__title {
    max-width: 250px;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 33px;
    line-height: 1.3;
  }

  &__title-gross {
    @include fontFiraSansSemiBolt();
    font-weight:700;
    color: #6a788d;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    font-size: 24px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 9px;
  }

  &__description {
    @include fontFiraSansLight();
    display: inline-block;
    font-size: 12.5px;
    margin-right: 8px;
    //margin-bottom: 30px;
  }

  &__spinner-wrapper {

    @include absoluteXY()
  }

  &__upload-section {
    @include flexCenterXY();
    height: 157px;
    width: 157px;
    position: relative;
    margin-bottom: 26px;
    margin: 0 auto;
    margin-bottom: 30px;
    border: 2px solid #f2f6fc;
    border-radius: 50%;
    cursor: pointer;
    position: relative;

    &:before {
      content: '';
      width: 199px;
      height: 199px;
      border-radius: 50%;
      border: solid 1px #f2f6fc;
      position: absolute;
    }


  }

  &__img {
    border-radius: 10px;
    margin-bottom: 17px;
    width: 247px;
    max-width: 647px;
    max-height: 600px;

    img {
      border-radius: 10px;
    }

    &_type_cover {
      width: auto;
      max-width: 659px;
      //height: 280px;

      //.ReactCrop {
      //  width: 659px;
      //  height: 280px;
      //  > div {
      //    height: 100%;
      //  }
      //}

      img {
        @include CoverImg();
      }
    }
  }

  &__text {
    @include fontFiraSansLight();
    display: inline-block;
    //margin-bottom: 30px;
    line-height: normal;

    &_type_large {
      @include fontFiraSansLight();
      font-size: 20px;
      word-break: break-all;
    }

    &_type_bold{
      @include fontFiraSans();
      font-size: 20px;
    }
  }

  &__row {
    @include make-row();
    align-items: center;
    margin-bottom: 30px;

    .ava {
      margin-right: 23px;
    }
  }

  &__footer {
    display: flex;
    flex-direction: revert;
    justify-content: center;
    align-items: center;

    span:nth-child(1){
      margin-right: 10px;
    }


    .input-group__icon {
      margin-right: 5px;
    }
    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__actions {
    padding-top: 33px;
    .btn {
      width: 270px;

      & + .btn {
        margin-left: 8px;
      }

      &:not(:only-of-type) {
        width: 131px;
      }
    }

    img{
      width: 100%;
    }

    &__img-croped {
      max-height: 50%;
    }
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 16px;
  }
}

.modal-overlay {
  //background-color: transparentize(#3c3e41, 0.5);
  background-color: none;
}
