
@mixin make-status-ring($color, $height, $width, $right, $border-color: $white) {
  &:before {
    top: -3px;
    right: -6px;
    display: block;
    content: '';
    height: $height;
    width: $width;
    position: absolute;
    background-color: $color;
    border-radius: 50%;
    border: 4px solid #f6f8fc;
  }
}

@mixin make-notice-icon($color, $height, $width, $radius) {
  & {
    bottom: -4px;
    box-sizing: border-box;
    right: -15px;
    display: flex;
    border-radius: $radius;
    height: $height;
    width: $width;
    position: absolute;
    background-color: $color;
    border: 4px solid $white;
  }
}
